<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Вхід через Keycloak')}"></head>
<body>
<main class="container login-container">
    <section class="card login-card">
        <h1>Вхід до Corporate User Service</h1>
        <p>Автентифікація виконується через Keycloak. Ролі <code>ADMIN</code> і <code>CUSTOMER</code> надходять із Keycloak token claims та перетворюються кастомним mapper-ом у Spring Security authorities.</p>

        <div th:if="${param.error}" class="alert error">Не вдалося виконати вхід через Keycloak.</div>
        <div th:if="${param.logout}" class="alert success">Ви успішно вийшли із системи.</div>

        <a class="button primary wide" th:href="@{/oauth2/authorization/keycloak}">Увійти через Keycloak</a>

<!--        <div class="credentials-box">-->
<!--            <strong>Тестові облікові записи Keycloak:</strong>-->
<!--            <div>ADMIN: <code>admin</code> / <code>AdminPass123</code></div>-->
<!--            <div>CUSTOMER: <code>customer</code> / <code>CustomerPass123</code></div>-->
<!--        </div>-->
    </section>
</main>
</body>
</html>
